h1::before {
    content: "---";
}

h1::after {
    content: "---";
}

a {
    text-decoration:none;
    cursor: pointer;
    color:goldenrod;
    font-size: 1.5em;
    font-family: Futura;
    position:relative;
}

a::after {
    content:"";
    display:block;
    height:3px;
    background-color: hotpink;
    /* width: 0em; */
    transform: scaleX(0);
    transition: transform 0.3s;
    width: 100%;
    position: absolute;
    /* animation-name: grow;
    animation-duration: 1s;
    animation-fill-mode: forwards; */
}
/* @keyframes grow {
    to {
        width:4em;
    }

} */

a:hover::after {
    transform:scaleX(1);

}