*{
    box-sizing:border-box;
}
form {
    width:60%;
    margin:auto;
    margin-top: 20%;
    background-color: rgb(236, 233, 233);
    padding:0.5em;
}
input, select {
    display:block;
    margin:1em;
   
}
label{
    padding: 14px;
}
input[type=text] {
    width:95%;
    margin:auto;
    border-radius:10px;
    border: 1px solid rgb(207, 206, 206);
    padding:1em 2em;
    margin:1em;
}
input[type=submit] {
    width:95%;
    margin:auto;
    border-radius:10px;
    background-color: rgb(84, 173, 79);
    border: 1px solid rgb(207, 206, 206);
    margin:1em;
    color:white;
    font-size:1.1em;
    padding:0.5em;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: rgb(84, 173, 79, 0.5);
}
select {
    width: 50%;
    background-color: rgb(186, 186, 231);
    font-size: 1em;
}