* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: lemonchiffon;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 60vw;
  height: 40vh;
  background-color: rgb(253, 251, 251);
  border: 1px solid goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size:1.8em;
  margin-bottom: 30px;
  padding:0 5px;
  color: brown;
  user-select: none;
}
label {
  user-select: none;
  color: rgb(46, 43, 43);
  font-size: 1.1em;
  font-family: sans-serif;
  margin-bottom: 7px;
}
input, meter {
  margin: 5px;
}
input {
  border: 0.4px solid rgba(172, 78, 78, 0.6);
  height: 20px;
}
.container div {
  position: relative;
}
span {
  position: absolute;
  top: 8px;
  width:100%;
  font-size: 0.8em;
  color: red;
  text-align: center;
}
/* progress[value] {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
}
progress[value]::-webkit-progress-bar {
  background-color: rgb(241, 215, 206);
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-color: currentColor;
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
} */
meter {
  width: 150px;
  height: 20px;
  -webkit-appearance: none;
  border: 2px solid rgb(238, 221, 221);
  border-radius: 10px;
}
meter::-webkit-meter-even-less-good-value {
  background-color: rgb(255, 0, 170);
}

meter::-webkit-meter-suboptimum-value {
  background-color: rgb(0, 204, 255);
}

meter::-webkit-meter-optimum-value {
  background-color: rgb(25, 228, 25);
}
