* {
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    background-color: rgba(41, 26, 3);
}

main{
    width: 60%;
    margin:auto;
}
#logo {
    color:white;
    float:left;
    
}
#menu {
    background-color: brown;
    clear: both;
    margin-left:auto;
    margin-right: auto;
    padding-top:10px;
    padding-left:5px;
    padding-bottom:10px;
    
}
#menu ul {
    list-style-type: none;
}
#menu ul li {
    font-size:1.2em;
    color: white;
    display:inline;
    padding: 5px 10px 5px 10px;
    border-right:2px solid rgb(134, 118, 51);
}
#menu ul li:nth-child(4){
    border-right:none;
}
#about {
    margin-top:3px;
    background-color: darkcyan;  
    padding: 10px 150px;
    text-align:left;
}
#about p {
    color: white;
}
h1 {
    color: white;
}
#content {
    margin-top:3px;
}
aside{
    width: 20%;
    height: 300px;
    background-color: darkolivegreen;
    padding:5px;
    float:left;
}
aside ul {
    width: 75%;
    padding:10px;
}
aside ul li {
    color: white;
    list-style: none;
    padding: 10px 5px;
    border-bottom:1px solid whitesmoke;

}
aside ul li:nth-child(4){
    border-bottom:none;
}
article {
    width: 80%;
    height:300px;
    float:right;
    background-color: grey;
}
article h2, article p{
    padding: 10px 30px;
}

