body {
    box-sizing: border-box;
}
#p1{
    width: 60%;
    height:150px;
    font-weight: bold;
    text-decoration: underline;
    text-align:center;
    border: 3px outset violet;
    font-size: 1.2em;
    padding: 10% 10%;
    margin: 5px auto;
    background-color: rgb(245, 235, 105);
    background-size:contain;
    color: rgb(90, 31, 31);
    border-radius: 30%;
    background-image:url(background.gif);
    background-repeat: no-repeat;
    background-position: bottom;

}
#p2 {
    font-weight: lighter;
    font-family: 'Noto Sans JP', sans-serif;
}
#p3 {
    border: 2px dashed rgb(243, 246, 247);
    background-color: rgb(141, 248, 239);
    padding: 10px;
    line-height: 1.2em;
    text-align:justify;
    width: 50%;
    margin:auto;
    margin-top: 20px;
}
#p2 div {
    color: red;
    background-color: yellowgreen;
    border: 2px solid black;
    width: 75%;
}
#p2 {
    background-color: blue;
    border: 2px solid red;
    padding: 20px;
}
span {
    color:yellow;
}