* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    font-family: sans-serif;
    background-color: rgb(197, 192, 192);
}
img {
    width:40%;
    display: inline-block;
}
header {
    background-color:rgb(54, 53, 53);
    text-align: center;
    
}
header a {
    color: rgb(184, 178, 178);
    text-decoration: none;
    font-size:0.8em;
    
}
li {
    display:inline-block;
    padding:10px;
}
article {
    padding: 7%;
    text-align: center;
}
h1 {
    text-align:center;
    padding:0px 0px 20px 0px;
    font-family: monospace;
    font-size: 2.5em; 
}
div {
    margin-top:2em;
    display:inline-block;
    vertical-align: top;
}
div p {
    padding: 2.5em;
}
input[type=button] {
    background-color: rgb(236, 173, 90);
    color:white;
    border-radius:0.8em;
    font-size:1em;
    padding: 0.4em 0.4em;
    margin-top: 2.5em;

}

