* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    font-family: sans-serif;
    background-color: rgb(197, 192, 192);
}
img {
    width:25%;
    display: inline-block;
}
header {
    background-color:rgb(54, 53, 53);
    text-align: center;
    
}
header a {
    color: rgb(184, 178, 178);
    text-decoration: none;
    font-size:0.8em;
    
}
li {
    display:inline-block;
    padding:10px;
}
article {
    padding: 2%;
    text-align: center;
}
h1 {
    text-align:center;
    padding:0px 0px 30px 0px;
    font-family: monospace;
    font-size: 2.5em; 
}
div {
    margin-top:3em;
    display:inline-block;
    vertical-align: top;
}
div p {
    padding: 1.7em;
    font-size: 1.1em;
}
input[type=button] {
    background-color: rgb(245, 152, 30);
    color:white;
    border-radius:0.8em;
    font-size:0.9em;
    padding: 0.4em 0.6em;
    margin-top: 2.5em;
    border-width:0px;
}
footer {
    background-color:rgb(54, 53, 53) ;
    text-align:center;
}
footer p {
    padding: 20px 0px 0px 0px;
    color:white;
}
footer input[type=button] {
    background-color: rgb(221, 183, 12);
    color:white;
    border-radius:0.8em;
    font-size:0.9em;
    padding: 0.4em 0.6em;
    margin: 2em;
    border-width:0px;
}


