table {
    border: 2px solid red;
    margin:auto;
    margin-top:20%;
    background-color: burlywood;
    border-spacing: 1px;
    border-collapse: collapse;
}
th {
    background-color: yellowgreen;
    border-bottom: 1px solid brown;
    text-align:center;
    
}
td {
    width:30%;
    padding:10px;
    text-align:center;
}
tr:nth-child(even) {
    background-color:white;;
}
tr:nth-child(odd) {
    background-color:grey;
}